html{
    background-color: black;
}

@font-face {
    font-family: "bios";
    src: url("font.ttf");
}

body{
    background-color: black;
    font-family: "bios";
    user-select: none;
    cursor: pointer;
}

a{
    position: fixed;
    bottom: 30px;
    right: 30px;
}

img{
    width: 40px;
    transition: 0.2s;
}

img:hover{
    transform: scale(1.1);
}

.bios{
    cursor: none !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 800px;
    height: 600px;
    
    background-color: #AAAAAA;
}

.bios .titlebar{
    background-color: #00AAAA;
    color: black;
    text-align: center;
}

.bios .tabs{
    background-color: #0000AA;
    color: white;

    padding-left: 12px;
}

.bios .tabs span{
    padding: 2px 12px;
}

.bios .tabs span.active{
    background-color: #AAAAAA;
    color: #0000AA;
}

.bios .instructions{
    background-color: #00AAAA;
    color: black;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;

    text-align: left;
}

.bios .instructions tr th{
    font-weight: normal;
}

.bios .instructions .key{
    color: white;
}

.bios div.page table{
    border-collapse: collapse;
}

.bios div.page table tr.space-below th{
    padding-bottom: 20px;
}

.bios div.page table tr.space-left th:nth-child(1){
    padding-left: 12px;
}

.bios .page{
    padding-top: 20px;
    padding-left: 20px;
}

.bios .page.hidden{
    display: none;
}

.bios div.page table tr th{
    padding: 3px;
    font-weight: normal;
    text-align: left;

    color: #0000AA;
}

.bios div.page table tr :nth-child(2){
    color: black;
}

.bios div.page table tr.disabled :nth-child(2){
    color: #6e6e6e;
}

.bios div.page table tr.selected th{
    color: white;
}