html{
    background-color: black;
    cursor: none !important;
}

@font-face {
    font-family: "bios";
    src: url("font.ttf");
}

body{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "bios";
    user-select: none;

    width: 800px;
    height: 600px;
    
    background-color: #AAAAAA;
}

.titlebar{
    background-color: #00AAAA;
    color: black;
    text-align: center;
}

.tabs{
    background-color: #0000AA;
    color: white;

    padding-left: 12px;
}

.tabs span{
    padding: 2px 12px;
}

.tabs span.active{
    background-color: #AAAAAA;
    color: #0000AA;
}

.instructions{
    background-color: #00AAAA;
    color: black;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;

    text-align: left;
}

.instructions tr th{
    font-weight: normal;
}

.instructions .key{
    color: white;
}

div.page table{
    border-collapse: collapse;
}

div.page table tr.space-below th{
    padding-bottom: 20px;
}

div.page table tr.space-left th:nth-child(1){
    padding-left: 12px;
}

.page{
    padding-top: 20px;
    padding-left: 20px;
}

.page.hidden{
    display: none;
}

div.page table tr th{
    padding: 3px;
    font-weight: normal;
    text-align: left;

    color: #0000AA;
}

div.page table tr :nth-child(2){
    color: black;
}

div.page table tr.disabled :nth-child(2){
    color: #6e6e6e;
}

div.page table tr.selected th{
    color: white;
}